*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/jarRepositories.xml
/app/.idea/misc.xml
/app/.idea/workspace.xml
/.idea/misc.xml
/app/local.properties
